/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-mkl-section-block {
	position: relative;

	&, .entry-content > & {
		max-width: none;
		width: 100%;
	}

	.section-bg {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-repeat: no-repeat;
		max-width: none;
		z-index: 0;

		&.bg__repeated {
			background-repeat: repeat;
		}
		&.bg__stretched {
			background-size: cover;
		}
		&.bg__fixed {
			background-attachment: fixed;
			background-position: 50% 50%;
		}
		& ~ * {
			z-index: 1;
			position: relative;
		}
	}

	& > *:last-child,
	body.page:not(.twentyseventeen-front-page) .entry-content & > *:last-child {
		padding-bottom: 0;
		margin-bottom: 0;
	}
}
